includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - config
    excludePaths:
        - storage
        - vendor
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'
